

<h4>Propety Binding - alteraçao de propriedade</h4>

<input 
[type]="inputType" 
[value]="inputText" 
[disabled]="isDisable"
(keyup)="hanbleInputKeyup($event)"  />

<!--(keyup) pegando valor atual de um input -->

<br>
<!-- event Binding -->
<button (click)="habilitatInput()">Habilitar</button>
<button (click)="desabilitarInput()">Desabilitar</button>
<!-- <button (click)="habilitatInput(true)">Habilitar</button>
<button (click)="habilitatInput(false)">Desabilitar</button> -->
<br>
<button (click)="SenhaInput()">Senha</button>
<button (click)="TextoInput()">Texto</button>


